.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: white;
  box-shadow: var(--shadow);
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* LOGO */
.logo {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--primary);
}

/* LINKS */
.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-links a {
  color: var(--text);
  font-weight: 500;
  position: relative;
  transition: 0.3s;
}

.nav-links a:hover {
  color: var(--primary);
}

/* CART BADGE */
.badge {
  background: var(--primary);
  color: rgb(15, 15, 15);
  font-size: 0.9rem;
  padding: 2px 6px;
  border-radius: 50%;
  margin-left: 5px;
}

/* BUTTON */
.nav-cta button {
  background: var(--primary);
  color: black;
  padding: 8px 14px;
  border-radius: 8px;
  transition: 0.3s;
}

.nav-cta button:hover {
  background: #c81e2d;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .navbar {
    padding: 10px 15px;
  }

  .nav-links {
    gap: 10px;
    font-size: 0.9rem;
  }

  .nav-cta {
    display: none;
  }
}